<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>The Mobile Shop</title>
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" th:href="@{/}">The Mobile Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}"  >Trang chủ</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Thương hiệu</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li th:each="brand:${brands}">
              <a class="dropdown-item" th:href="@{'/collection/'+${brand.name}}" th:text="${brand.name}"></a>
            </li>

          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/khanhkd179">Giới thiệu</a></li>
      </ul>
      <div class="d-flex">
        <a  class="btn btn-outline-dark" th:href="@{/profile}">
          <i class="bi bi-person-circle"></i></i>
          Profile
        </a>
        <a  class="btn btn-outline-dark" th:href="@{/orders}">
          <i class="bi bi-receipt"></i></i>
          My Order
        </a>
        <a  class="btn btn-outline-dark" th:href="@{/cart}">
          <i class="bi-cart-fill me-1"></i>
          Cart
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- Section-->
<section class="py-5" >
  <div class="container px-4 px-lg-5 mt-5" >
    <div  class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" th:each="product:${listProducts}">
        <form th:action="@{/add-to-cart}" method="post">
        <div class="card h-100" >
          <!-- Product image-->
          <img class="card-img-top" th:src="*{'data:image/jpeg;base64,'+{product.image}}" style="height: 206px;width: auto;" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder" th:utext="${product.name}"></h5>
              <!-- Product price-->
              <span class="h4">$</span><span class="h4" th:text="${product.price}"></span>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto mb-2" th:href="@{'/detail/'+${product.id}}">Xem chi tiết</a></div>


              <div  class="text-center"><a th:href="@{'/add-to-cart/'+${product.id}}" class="btn btn-outline-dark mt-auto">Thêm vào giỏ hàng</a></div>

          </div>
        </div>
        </form>
      </div>

    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
